<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bapbpolls.Properties.Settings.ConnectionString" connectionString="Data Source=XE;Persist Security Info=True;User ID=poll;Password=poll;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>