<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Poll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Poll.Properties.Settings.PollConnectionString" connectionString="Data Source=XE;Persist Security Info=True;User ID=poll;password=poll;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <userSettings>
        <Poll.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>A</value>
            </setting>
        </Poll.Properties.Settings>
    </userSettings>
</configuration>